# become_user: postgres
---
### 远程下载安装包对网络环境有依赖 ， 后期考虑搭建私有镜像仓库
###

# - name: install pgdg rpm
#   become_user: root
#   yum:
#     name: http://download.postgresql.org/pub/repos/yum/reporpms/EL-7-x86_64/pgdg-redhat-repo-latest.noarch.rpm
#     state: present
#   tags: install

- name: prepare postgresql package
  copy: 
    src: "{{local_bin}}/postgresql/pgdg-redhat-repo-latest.noarch.rpm"
    dest: /tmp/

- name: install pgdg rpm
  become_user: root
  yum:
    name: /tmp/pgdg-redhat-repo-latest.noarch.rpm
    state: present

- name: install postgres package
  yum: name={{ pg_base_packages }} state=latest
  with_items:
    - '{{ pg_base_packages }}'

- name: install postgres base extension package
  yum: name={{ pg_extends_packages }} state=latest
  with_items:
    - '{{ pg_extends_packages }}'
  
# - name: install postgres extra extensions