[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory={{ ETCD_DATA_DIR }}
#EnvironmentFile=-/etc/etcd/etcd.conf
User=etcd
# set GOMAXPROCS to number of processors
ExecStart=/usr/bin/etcd \
  --name=etcd-{{ inventory_hostname }} \
  --cert-file={{ ECTD_CERT_DIR }}/etcd.pem \
  --key-file={{ ECTD_CERT_DIR }}/etcd-key.pem \
  --trusted-ca-file={{ ECTD_CERT_DIR }}/etcd-ca.pem \
  --client-cert-auth=true \
  --peer-cert-file={{ ECTD_CERT_DIR }}/etcd.pem \
  --peer-key-file={{ ECTD_CERT_DIR }}/etcd-key.pem \
  --peer-trusted-ca-file={{ ECTD_CERT_DIR }}/etcd-ca.pem \
  --peer-client-cert-auth=true \
  --initial-advertise-peer-urls=https://{{ inventory_hostname }}:{{ ETCD_PEER_PORT }} \
  --listen-peer-urls=https://{{ inventory_hostname }}:{{ ETCD_PEER_PORT }} \
  --listen-client-urls=https://{{ inventory_hostname }}:{{ ETCD_CLIENT_PORT }},http://127.0.0.1:{{ ETCD_CLIENT_PORT }} \
  --advertise-client-urls=https://{{ inventory_hostname }}:{{ ETCD_CLIENT_PORT }} \
  --initial-cluster-token=etcd-cluster-0 \
  --initial-cluster={{ ETCD_NODES }} \
  --initial-cluster-state={{ CLUSTER_STATE }} \
  --data-dir={{ ETCD_DATA_DIR }} \
  --wal-dir={{ ETCD_WAL_DIR }} \
  --snapshot-count=50000 \
  --auto-compaction-retention=1 \
  --auto-compaction-mode=periodic \
  --max-request-bytes=10485760 \
  --quota-backend-bytes=8589934592 \
  --heartbeat-interval=200

Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
