# TYPE  DATABASE        USER            ADDRESS                 METHOD
host    pgbouncer       postgres       127.0.0.1/32             trust 
host    pgbouncer       tea_mon        127.0.0.1/32             trust 
host    all             all            127.0.0.1/32            scram-sha-256
host    all             all            0.0.0.0/0               scram-sha-256
