- targets: ['{{inventory_hostname}}:9100']
  labels:
    idc: '{{ idc }}'
{% if hostname is defined and hostname != 'localhost' %}
    instance: '{{ hostname }}'
{% else %}
    instance: '{{ inventory_hostname }}'
{% endif %}