
## redis sentinel 服务
- hosts: redis_sentinel
  gather_facts: true
  roles: 
    # - { role: node, monitor: false, harden: true ,server: redis_sentinel }
    - { role: redis, action: sentinel }

## redis 安装 、 主从、 注册sentinel
- hosts: redis
  roles:
    # - { role: node, monitor: false, harden: true ,server: redis }
    - { role: redis ,action: redis} 

## 监控redis 
- hosts: monitor
  roles:
   - { role: redis ,action: monitor,tags: 'monitor'} 
   - { role: monitor, only_load_dashboard: true,tags: 'monitor' }